<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Current projects</h1>
    <ul class="projects">
    <% for(let i=0;i<info.length;i++) {%>
        <li class="project">
            <span><%= info[i].name %></span>
            <span><%= info[i].studentname %></span>
            <span class="del" > delete </span>
            <span class="like" > like </span>
            <span ><%= info[i].likes %></span>
            
        </li>
    <% } %>
    </ul>
    <div>Add a project</div>
    <form action="/postdata" method="POST">
        <label for="name">Project Name : </label>
        <input type="text" name="name" id="name">
        <label for="studentname">Student Name: </label>
        <input type="text" name="studentname" id="studentname">
        <button type="submit">Submit</button>
    </form>
    <script src="/script.js"></script>
</body>
</html>